<!--========== BEGIN HEADER ==========-->
<header id="header" class="header-main">
  <!-- Begin Navbar -->
  <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->
    <div class="text-right">
      <a (click)="switchLanguage('bg')"><img src="assets/img/bg.jpg" alt="Български"/>Български</a>
      <a (click)="switchLanguage('en')"><img src="assets/img/en.jpg" alt="English"/>English</a>
    </div>

    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="index.html">Shevitsa</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="body" translate>Home</a></li>
          <li><a class="page-scroll" href="#about-section" translate>About</a></li>
          <li><a class="page-scroll" href="#services-section" translate>Services</a></li>
          <li><a class="page-scroll" href="#portfolio-section" translate>Works</a></li>
          <li><a class="page-scroll" href="#team-section" translate>Team</a></li>
          <li><a class="page-scroll" href="#prices-section" translate>Prices</a></li>
          <li><a class="page-scroll" href="#contact-section" translate>Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <!-- End Navbar -->

</header>
<!-- ========= END HEADER =========-->

<!-- Begin text carousel intro section -->
<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(assets/img/background.jpg);">

  <div class="container">
    <div class="caption text-center text-white" data-stellar-ratio="0.7">

      <div id="owl-intro-text" class="owl-carousel">
        <div class="item">
          <h1>We have Awesome things</h1>
          <p>Let's make the web beautiful together</p>
          <div class="extra-space-l"></div>
          <a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
        </div>
        <div class="item">
          <h1>Join with us</h1>
          <p>To the greatest Journey</p>
          <div class="extra-space-l"></div>
          <a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
        </div>
        <div class="item">
          <h1>Shevitsa</h1>
          <p>One Page Responsive</p>
          <div class="extra-space-l"></div>
          <a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
        </div>
      </div>

    </div> <!-- /.caption -->
  </div> <!-- /.container -->

</section>
<!-- End text carousel intro section -->


<!-- Begin about section -->
<about-detail></about-detail>
<!-- End about section -->

<!-- Begin cta -->
<section id="cta-section">
  <div class="cta">
    <div class="container">
      <div class="row">

        <div class="col-md-9">
          <h1 translate>Download Our Pdf</h1>
          <p translate>download-text</p>
        </div>

        <div class="col-md-3">
          <div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">
            <a class="btn btn-default btn-lg" href="http://www.imransdesign.com/" target="_blank" role="button" translate>Download</a>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
</section>
<!-- End cta -->




<!-- Begin Services -->
<section id="services-section" class="page text-center">
  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
        <h2>Services</h2>
        <div class="devider"></div>
        <p class="subtitle">what we really know how</p>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <!-- Begin roatet box-2 -->
  <div class="rotate-box-2-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
            <span class="rotate-box-icon"><i class="fa fa-mobile"></i></span>
            <div class="rotate-box-info">
              <h4>App Development</h4>
              <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
            <span class="rotate-box-icon"><i class="fa fa-pie-chart"></i></span>
            <div class="rotate-box-info">
              <h4>Ui Design</h4>
              <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
            <span class="rotate-box-icon"><i class="fa fa-cloud"></i></span>
            <div class="rotate-box-info">
              <h4>Cloud Hosting</h4>
              <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
            </div>
          </a>
        </div>

        <div class="col-md-3 col-sm-6">
          <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
            <span class="rotate-box-icon"><i class="fa fa-pencil"></i></span>
            <div class="rotate-box-info">
              <h4>Coding Pen</h4>
              <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
            </div>
          </a>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->

    <div class="container">
      <!-- Cta Button -->
      <div class="extra-space-l"></div>
      <div class="text-center">
        <a class="btn btn-default btn-lg-xl" href="http://www.imransdesign.com/" target="_blank" role="button">Large Button</a>
      </div>
    </div> <!-- /.container -->
  </div>
  <!-- End rotate-box-2 -->
</section>
<!-- End Services -->




<!-- Begin testimonials -->
<section id="testimonial-section">
  <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(assets/img/testimonial-bg.jpg);">
    <div class="cover"></div>
    <!-- Begin page header-->
    <div class="page-header-wrapper">
      <div class="container">
        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
          <h2 translate>Reviews</h2>
          <div class="devider"></div>
          <p class="subtitle" translate>What people say about us</p>
        </div>
      </div>
    </div>
    <!-- End page header-->
    <div class="container">
      <div class="testimonial-inner center-block text-center">
        <div id="owl-testimonial" class="owl-carousel">
          <div class="item">
            <blockquote>
              <p>"This was my first experience with that team and outperformed my expectation! They know there stuff and I highly recommend them! A+++".</p>
              <footer><cite title="Source Title">Daryl Hodgeman</cite></footer>
            </blockquote>
          </div>
          <div class="item">
            <blockquote>
              <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua."</p>
              <footer><cite title="Source Title">John Doe</cite></footer>
            </blockquote>
          </div>
          <div class="item">
            <blockquote>
              <p>"Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit".</p>
              <footer><cite title="Source Title">John Doe</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testimonials -->

<!-- Begin Portfolio -->
<gallery-detail></gallery-detail>
<!-- End portfolio -->


<!-- Begin counter up -->
<counters-detail></counters-detail>
<!-- End counter up -->


<!-- Begin team-->
<section id="team-section" class="page">
  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
        <h2>Our Team</h2>
        <div class="devider"></div>
        <p class="subtitle">Meat our experts</p>
      </div>
    </div>
  </div>
  <!-- End page header-->
  <div class="container">
    <div class="row">
      <div class="team-items">
        <div class="col-md-2">
          <div class="team-container wow bounceIn" data-wow-delay="0.2s">
            <div class="team-item">
              <div class="team-triangle">
                <div class="content">
                  <img src="assets/img/team/1.jpg" alt="title"/>
                  <div class="team-hover text-center">
                    <i class="fa fa-male"></i>
                    <p>John Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="team-container wow bounceIn" data-wow-delay="0.3s">
            <div class="team-item">
              <div class="team-triangle">
                <div class="content">
                  <img src="assets/img/team/1.jpg" alt="title"/>
                  <div class="team-hover text-center">
                    <i class="fa fa-female"></i>
                    <p>Jane Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="team-container wow bounceIn" data-wow-delay="0.4s">
            <div class="team-item">
              <div class="team-triangle">
                <div class="content">
                  <img src="assets/img/team/1.jpg" alt="title"/>
                  <div class="team-hover text-center">
                    <i class="fa fa-male"></i>
                    <p>John Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="team-container wow bounceIn" data-wow-delay="0.5s">
            <div class="team-item">
              <div class="team-triangle">
                <div class="content">
                  <img src="assets/img/team/1.jpg" alt="title"/>
                  <div class="team-hover text-center">
                    <i class="fa fa-male"></i>
                    <p>John Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="team-container wow bounceIn" data-wow-delay="0.6s">
            <div class="team-item">
              <div class="team-triangle">
                <div class="content">
                  <img src="assets/img/team/1.jpg" alt="title"/>
                  <div class="team-hover text-center">
                    <i class="fa fa-male"></i>
                    <p>John Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="team-container wow bounceIn" data-wow-delay="0.7s">
            <div class="team-item">
              <div class="team-triangle">
                <div class="content">
                  <img src="assets/img/team/1.jpg" alt="title"/>
                  <div class="team-hover text-center">
                    <i class="fa fa-male"></i>
                    <p>John Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="team-container wow bounceIn" data-wow-delay="0.8s">
            <div class="team-item">
              <div class="team-triangle">
                <div class="content">
                  <img src="assets/img/team/1.jpg" alt="title"/>
                  <div class="team-hover text-center">
                    <i class="fa fa-female"></i>
                    <p>Jane Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</section>
<!-- End team-->


<!-- Begin partners -->
<partners-detail></partners-detail>
<!-- End partners -->


<!-- Begin prices section -->
<section id="prices-section" class="page">

  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
        <h2>Prices</h2>
        <div class="devider"></div>
        <p class="subtitle">That how much</p>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <div class="extra-space-l"></div>

  <!-- Begin prices -->
  <div class="prices">
    <div class="container">
      <div class="row">

        <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.3s">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <i class="fa fa-male fa-2x"></i>
              <h3 translate>man shirt</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" translate>price1</p>
            </div>
            <ul class="list-group text-center">
              <li class="list-group-item">Personal Use</li>
              <li class="list-group-item">3 projects</li>
              <li class="list-group-item">1 GB Disk</li>
              <li class="list-group-item">Custom Domain</li>
              <li class="list-group-item">24/7 Support</li>
            </ul>
            <div class="panel-footer text-center">
              <a class="btn btn-default" target="_blank" href="https://www.facebook.com/pg/shevitsaeood/photos/?tab=album&album_id=1807286012645718" translate>Gallery</a>
            </div>
          </div>
        </div>

        <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.5s">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <i class="fa fa-female fa-2x"></i>
              <h3 translate>woman shirt</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead"translate>price2</p>
            </div>
            <ul class="list-group text-center">
              <li class="list-group-item">Personal Use</li>
              <li class="list-group-item">5 projects</li>
              <li class="list-group-item">5 GB Disk</li>
              <li class="list-group-item">Custom Domain</li>
              <li class="list-group-item">24/7 Support</li>
            </ul>
            <div class="panel-footer text-center">
              <a class="btn btn-default" target="_blank" href="https://www.facebook.com/pg/shevitsaeood/photos/?tab=album&album_id=1816204491753870" translate>Gallery</a>
            </div>
          </div>
        </div>

        <div class="price-box col-sm-6 price-box-featured col-md-3 wow flipInY" data-wow-delay="0.7s">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <i class="fa fa-child fa-2x"></i>
              <h3 translate>pack</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" translate>price3</p>
            </div>
            <ul class="list-group text-center">
              <li class="list-group-item">Personal Use</li>
              <li class="list-group-item">20 Projects</li>
              <li class="list-group-item">20 GB Disk</li>
              <li class="list-group-item">Custom Domain</li>
              <li class="list-group-item">24/7 Support</li>
            </ul>
            <div class="panel-footer text-center">
              <a class="btn btn-default" target="_blank" href="https://www.facebook.com/pg/shevitsaeood/photos/?tab=album&album_id=1816201421754177" translate>Gallery</a>
            </div>
            <div class="price-box-ribbon"><strong translate>Popular</strong></div>
          </div>
        </div>

        <div class="price-box col-sm-6 col-md-3 wow flipInY" data-wow-delay="0.9s">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <i class="fa fa-child fa-2x"></i>
              <h3 translate>child shirt</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" translate>price4</p>
            </div>
            <ul class="list-group text-center">
              <li class="list-group-item">Multi Use</li>
              <li class="list-group-item">Unlimited Projects</li>
              <li class="list-group-item">99 GB Disk</li>
              <li class="list-group-item">Custom Domain</li>
              <li class="list-group-item">24/7 Support</li>
            </ul>
            <div class="panel-footer text-center">
              <a class="btn btn-default" target="_blank" href="https://www.facebook.com/pg/shevitsaeood/photos/?tab=album&album_id=1816201421754177" translate>Gallery</a>
            </div>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
  <!-- End prices -->
  <div class="extra-space-l"></div>
</section>
<!-- End prices section -->




<!-- Begin social section -->
<section id="social-section">

  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
        <h2 translate>Join Us</h2>
        <div class="devider"></div>
        <p class="subtitle" translate>Follow us on social networks</p>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <div class="container">
    <ul class="social-list">
      <li> <a href="https://www.facebook.com/shevitsaeood/" target="_blank" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
<!--
      <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
-->
<!--
      <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>
-->
      <li> <a href="https://www.pinterest.com/shevitsa/" target="_blank" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s"><span class="rotate-box-icon"><i class="fa fa-pinterest-p"></i></span></a></li>
     <!-- <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.7s"><span class="rotate-box-icon"><i class="fa fa-tumblr"></i></span></a></li>
      <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>
    --></ul>
  </div>

</section>
<!-- End social section -->




<!-- Begin contact section -->
<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(assets/img/map-bg.jpg);">
  <div class="cover"></div>

  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
        <h2 translate>Contacts</h2>
        <div class="devider"></div>
        <p class="subtitle" translate>All to contact us</p>
      </div>
    </div>
  </div>
  <!-- End page header-->

  <div class="contact wow bounceInRight" data-wow-delay="0.4s">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <div class="contact-info">
            <h4 translate>Our Address</h4>
            <ul class="contact-address">
              <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; ул. "Аргир Манасиев" 6A ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2700 Благоевград ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; България</li>
              <li><i class="fa fa-phone"></i>&nbsp; 0888 84 36 46 </li>
              <li><i class="fa fa-phone"></i>&nbsp; 073/88 17 70 </li>
              <li><i class="fa fa-print"></i>&nbsp; 073/88 17 70 </li>
              <li><i class="fa fa-envelope"></i> shevitsa@gbg.bg </li>
              <li><i class="fa fa-skype"></i> shetitsa </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6">
          <!--<h1>Information Request</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <input type="text" placeholder="Name" formControlName="name">
              <input type="text" placeholder="Email" formControlName="email">
              <textarea placeholder="Message" formControlName="message">
            </textarea>
              <button type="submit" [disabled]="form.invalid">Submit</button>
            </form>-->

          <div class="contact-form">
            <h4 translate>Write to us</h4>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Your Name" formControlName="name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control input-lg"  placeholder="E-mail" formControlName="email" required>
              </div>
              <!--<div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Subject" required>
              </div>-->
              <div class="form-group">
                <textarea class="form-control input-lg" rows="5" placeholder="Message" formControlName="message" required></textarea>
              </div>
              <button type="submit" [disabled]="form.invalid" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
            </form>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div>
</section>
<!-- End contact section -->



<!-- Begin footer -->
<!--<footer class="text-off-white">

  <div class="footer-top">
    <div class="container">
      <div class="row wow bounceInLeft" data-wow-delay="0.4s">

        <div class="col-sm-6 col-md-4">
          <h4>Useful Links</h4>
          <ul class="imp-links">
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Copyright</a></li>
            <li><a href="">Advertise</a></li>
            <li><a href="">Legal</a></li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-4">
          <h4>Subscribe</h4>
          <div id="footer_signup">
            <div id="email">
              &lt;!&ndash;<form id="subscribe" method="POST">
                <input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
                <button type="submit">Submit</button>
                <span id="result" class="section-description"></span>
              </form>&ndash;&gt;
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="col-sm-12 col-md-4">
          <h4>Recent Tweets</h4>
          <div class="single-tweet">
            <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident</div>
            <div class="tweet-date">1 Hour ago</div>
          </div>
          <div class="single-tweet">
            <div class="tweet-content"><span>@Unika</span> Excepteur sint occaecat cupidatat non proident uku shumaru</div>
            <div class="tweet-date">1 Hour ago</div>
          </div>
        </div>

      </div> &lt;!&ndash; /.row &ndash;&gt;
    </div> &lt;!&ndash; /.container &ndash;&gt;
  </div>

  <div class="footer">
    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
      <p class="copyright">Shevitsa</p>
    </div>
  </div>

</footer>
&lt;!&ndash; End footer &ndash;&gt;-->

<a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
<div class="sticky-container">
  <ul class="sticky">
    <li>
      <img src="assets/img/facebook-circle.png" width="32" height="32">
      <p><a href="https://www.facebook.com/shevitsaeood/" target="_blank">Like Us on<br>Facebook</a></p>
    </li>
    <!--<li>
      <img src="images/twitter-circle.png" width="32" height="32">
      <p><a href="https://twitter.com/codexworldblog" target="_blank">Follow Us on<br>Twitter</a></p>
    </li>
    <li>
      <img src="images/gplus-circle.png" width="32" height="32">
      <p><a href="https://plus.google.com/codexworld" target="_blank">Follow Us on<br>Google+</a></p>
    </li>
    <li>
      <img src="images/linkedin-circle.png" width="32" height="32">
      <p><a href="https://www.linkedin.com/company/codexworld" target="_blank">Follow Us on<br>LinkedIn</a></p>
    </li>
    <li>
      <img src="images/youtube-circle.png" width="32" height="32">
      <p><a href="http://www.youtube.com/codexworld" target="_blank">Subscribe on<br>YouYube</a></p>
    </li>-->
    <li>
      <img src="assets/img/pin-circle.png" width="32" height="32">
      <p><a href="https://www.pinterest.com/shevitsa/" target="_blank">Follow Us on<br>Pinterest</a></p>
    </li>
  </ul>
</div>